<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApplication1.Properties.Settings.Database21ConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Database21.mdb"
            providerName="System.Data.OleDb" />
        <add name="WindowsFormsApplication1.Properties.Settings.Database21ConnectionString1"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;D:\Nesne Tabanlı Programlama\VeriTabanı\Formdan Db ye Aktarma\Örnek 1\Database21.mdb&quot;"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>